.cell {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-bottom: 15px;
  cursor: pointer;
}

.cellDispleyNone{
  display: none;
}

.cell-dark {
  background-color: #313A3F;
  color: transparent;
}

.cell-red {
  background-image: url(./red.png);
  color: transparent;
}

.cell-blue {
  background-image: url(./blue.png);
  color: transparent;
}