.App {
  text-align: center;
  background-image: url(./bg.png);
  height: 700px;
  border-radius: 5px;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.root {
  height: 100vh;
  margin: 0 auto;
}

.board {
  background-image: url(./board.png);
  width: 740px;
  margin-top: 35px;
}

.left, .right {
  margin-top: 100px;
}

.score {
  color: white;
  font-size: 20px;
  margin-top: 50px;
  background-color: #313A3F;
  padding: 20px 0;
  border-radius: 8px;
}